---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
const writing = await getCollection('writing');
---
<html><body>
  <p>Projects: {projects.length}</p>
  <p>Writing: {writing.length}</p>
</body></html>
